@import "tailwindcss";


/* RinjaniTrail.id Custom Style */

body {
    font-family: 'Inter', sans-serif;
}


.font-headline {
    font-family: 'Montserrat', sans-serif;
}


.glass-panel {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.4);
}


.transition-soft {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}